body, html {
    height: 100%;
    }
    .bg {
    background-image: url("../../assets/img/bannerJacee.png");
    height: 100vh;
    background-position: 17.5%;
    background-repeat: no-repeat;
    background-size: cover;
    }