.perfil{
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    margin: 50px 50px;
}

.perfil header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil header .users-info{
    margin-left: 10px;
}

.perfil .users-info #name{
    font-size: 40px;
    color: #333;
}

.perfil .users-info strong{
    display: flex;
    flex-direction: row;
}

.perfil .users-info #techs{
    font-size: 25px;
    color: #999;
    margin-top: 2px;
}

.perfil .users-info .listaTechs{
    display: flex;
    flex-direction: row;
}

.perfil p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

.perfil a{
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
}

.perfil a:hover{
    color: #5a2ea6;
}

.perfil .options{
    text-align: end;
}

.updateName, .updateTechs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

