*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.conteudo{
    display: none;
}

.loading{
    width: 100%;
    text-align: center;
    display: block;
}

.nav{
    background: #0088c6;
}
    .nav a{
        text-align: center; 
        padding: 10px 0; 
        color:#fff;
    }
    .nav a:hover{
        background: #005697;
    }

    .information li{list-style: none;line-height: 35px;padding-left: 20px;}

    .footer{
        display: flex;
        width: 100%;
        background: #0088c6;
        padding: 15px 5%;
        font-weight: bold;
        line-height: 35px;
    }

@media screen and (max-width: 480px){
    .header{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 0 2px 10px #999999;
    }

    .nav{display:none; flex-direction: column; order: 2;}
        .nav a{width: 100%; }

    .buttonMob{order: 1; text-align: right; padding: 5px 5% 5px 0;}

    .logo{
        position: absolute;
        top: 0;
        left: 5%;
    }

    .address{
        padding: 10px 5%;
        line-height: 35px;
        text-align: center;
        order: 3;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: #1BA73C;
        }

        .information{
            float: left;
            width: 100%;
        }
    
        .mapsImovel{
            width: 100%;
            margin:  35px 0;
        }
            .mapsImovel iframe{
                width: 100%;
                height: 400px;
                border: none;
            }

        .footer{
            flex-direction: column;
            text-align: center;
        }
            .footer div:nth-child(2){color: #fff;}
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-shadow: 0 2px 10px #999999;
    }

    .nav{display:none; flex-direction: column; order: 2;}
        .nav a{width: 100%; }

    .buttonMob{order: 1; text-align: right; padding: 5px 5% 5px 0;}

    .logo{
        position: absolute;
        top: 0;
        left: 5%;
    }

    .address{
        padding: 10px 5%;
        line-height: 35px;
        text-align: center;
        order: 3;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: #1BA73C;
        }

        .information{
            float: left;
            width: 100%;
        }
    
        .mapsImovel{
            width: 100%;
            margin:  35px 0;
        }
            .mapsImovel iframe{
                width: 100%;
                height: 400px;
                border: none;
            }

        .footer div:nth-child(1){flex-grow: 1; text-align: center;}
        .footer div:nth-child(2){flex-grow: 5; color: #fff;}
}

@media screen and (min-width: 769px) and (max-width: 1199px){
    .header{
        float: left;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 2px 10px #999999;
    }

    .nav{display:flex;}
        .nav a{width: 25%;}

    .buttonMob{
        display: none;
    }

    .logo{
        float: left;
        width: 30%;
        padding: 15px 0 15px 10%;
    }

    .address{
        float: left;
        width: 70%;
        padding: 20px 5% 10px 20%;
        line-height: 35px;
        text-align: center;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: #1BA73C;
        }
    
    .image-gallery{
        float: left;
        width: 60%;
        margin-left: 7%;
    }

    .information{
        float: left;
        width: 30%;
    }

    .mapsImovel{
        width: 100%;
        margin:  35px 0;
    }
        .mapsImovel iframe{
            width: 100%;
            height: 400px;
            border: none;
        }

    .footer div:nth-child(1){flex-grow: 1; text-align: center;}
    .footer div:nth-child(2){flex-grow: 5; color: #fff;}
}

@media screen and (min-width: 1200px){
    .header{
        float: left;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 2px 10px #999999;
    }
    .nav{
        display:flex;
    }
        .nav a{
            width: 25%;
        }
    
    .buttonMob{
        display: none;
    }

    .logo{
        float: left;
        width: 30%;
        padding: 15px 0 15px 10%;
    }

    .address{
        float: left;
        width: 70%;
        padding: 20px 5% 10px 20%;
        line-height: 35px;
        text-align: center;
    }
        .address img{
            vertical-align: middle;
        }
        .address strong{
            color: #1BA73C;
        }

    .image-gallery{
        float: left;
        width: 60%;
        margin-left: 7%;
    }

    .information{
        float: left;
        width: 30%;
    }

    .mapsImovel{
        width: 100%;
        margin:  35px 0;
    }
        .mapsImovel iframe{
            width: 100%;
            height: 400px;
            border: none;
        }

    .footer div:nth-child(1){flex-grow: 1; text-align: center;}
    .footer div:nth-child(2){flex-grow: 5; color: #fff;}

    .formulario{
        display: flex;
        width: 50%;
        margin: 20px 25%;
        flex-direction: column;
    }
        .formulario h1{
            color: #0088c6;
            text-align: center;
            font-size: 30px;
        }
        .formulario input{
            margin: 6px 0;
            height: 40px;
        }
        .formulario input[type='text'], 
        .formulario input[type='tel'], 
        .formulario input[type='email']{
            width: 100%;
            padding: 0 5px;
            color: #333333;
        } 
        .formulario input[type='submit']{
            background: #0088c6;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            width: 30%;
        }
        .formulario textarea{
            width: 100%;
            height: 150px;
            color: #333333;
            padding: 5px;
        }
    
    .vantagens{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
        .vantagensItem{
            width: 28%;
            margin: 15px 0;
            box-shadow: 0 5px 20px #999999;
            text-align: center;
            padding: 15px;
        }
}