.row > div {
    margin-top: 20px;
    padding: 1rem;
    border: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date{
    background-color: tomato;
}

.local{
    background-color: dodgerblue;
}

.icon{
    padding-bottom: 5px;
}