.conteudoBotao{
    display: flex;
    flex-direction: row;
}

.conteudoBotao strong{
    width: 90%;
    text-align: justify;
    font-size: 20px;
}

.conteudoBotao .iconesBotao{
    width: 10%;
    text-align: end;
    font-size: 20px;
}

.conteudoCollapse{
    
}